__pycache__
*.csv
*.xlsx
*.log
*.pem
*.pyc
*.swp
id_rsa*
.DS_Store
db.*
*.json
media
.env
.venv
restore.sh
*.sql
static/CACHE
node_modules
static/dist/
webpack-stats.json
!package-lock.json
!package.json
